<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.s2udy">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/s2udy_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/s2udy_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.S2udy">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.s2udy.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity android:name=".ProfileActivity" />
        <activity android:name=".InRoomActivity" />
        <activity android:name=".CreateActivity" />
        <activity android:name=".RoomsActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity"/>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>